#######################################
BDArmory Ignore
#######################################
BDArmory/BDArmory.csproj.user
_LocalDev

BahaTurret/.vs
BahaTurret/obj
BahaTurret/bin/Debug/
BDArmory/.vs
BDArmory/obj
BDArmory/bin/Debug/

BahaTurret/.vs/config
BahaTurret/LocalDev/7za_dir.txt
BahaTurret/LocalDev/dist_dir.txt
BahaTurret/LocalDev/ksp_dir.txt
BahaTurret/LocalDev/ksp_production_dir.txt
BahaTurret/LocalDev/mono_exe.txt
BahaTurret/LocalDev/pdb2mdb_exe.txt
BahaTurret/BahaTurret.userprefs
BahaTurret/bin/Release

BDArmory/.vs
BDArmory.Core/.vs

BDArmory/obj
BDArmory/bin/Debug/

BDArmory/.vs/config
BDArmory/LocalDev/7za_dir.txt
BDArmory/LocalDev/dist_dir.txt
BDArmory/LocalDev/ksp_dir.txt
BDArmory/LocalDev/ksp_production_dir.txt
BDArmory/LocalDev/mono_exe.txt
BDArmory/LocalDev/pdb2mdb_exe.txt
BDArmory/BahaTurret.userprefs
BDArmory/Distribution/GameData/BDArmory/Plugins/BDArmory.Core.dll
BDArmory/Distribution/GameData/BDArmory/Plugins/BDArmory.dll

BDArmory/packages

BDArmory.Core/obj/Debug/BDArmory.Core.csproj.FileListAbsolute.txt
BDArmory.Core/obj/Release/BDArmory.Core.csproj.FileListAbsolute.txt
BDArmory/bin/Debug
BDArmory.Core/obj/
BDArmory.Core/.vs
BDArmory.Core/packages.config
BDArmory/packages.config
BDArmory.Multiplayer/obj
BDArmory.Core/bin/Debug/Assembly-CSharp.dll
BDArmory.Core/bin/Debug/BDArmory.Core.dll
BDArmory.Core/bin/Debug/KSPAssets.dll
BDArmory.Core/bin/Debug/UnityEngine.dll
BahaTurret/BDArmory.sln.DotSettings.user
BahaTurret/BDArmory.csproj.user
BDArmory.Core/bin/Debug/UnityEngine.UI.dll


#######################################
Unity Ignore
#######################################

TrackIRUnity.dll
Mono*
TDx*
*.pdb
*.jar
*.bat
*.zip
KSPCore.dll
KSPUtil.dll
SaveUpgradePipeline.Core.dll
UnityEngine.xml
Vectrosity.dll

#######################################
#######################################
System*
mscorlib.dll

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/.vs
/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/BDArmory_JRODRIGV/v15/Browse.VC.db
/.vs/BDArmory_JRODRIGV/v15
/.vs/slnx.sqlite
/BahaTurret/bin/Release
/BDArmory.Core/obj/Debug/BDArmory.Core.csproj.FileListAbsolute.txt
/BDArmory.Core/obj/Release/BDArmory.Core.csproj.FileListAbsolute.txt
/BDArmory/bin/Debug
BDArmory.Core/obj/
/BDArmory.Multiplayer/obj
BDArmory.Core/bin/Debug/Assembly-CSharp.dll
BDArmory.Core/bin/Debug/BDArmory.Core.dll
BDArmory.Core/bin/Debug/KSPAssets.dll
BDArmory.Core/bin/Debug/UnityEngine.dll
BahaTurret/BDArmory.sln.DotSettings.user
BahaTurret/BDArmory.csproj.user
BDArmory.Core/bin/Debug/UnityEngine.UI.dll
BDArmory/LocalDev/Refs/UnityEngine.UI.dll
BDArmory/LocalDev/Refs/KSPAssets.dll
BDArmory/LocalDev/Refs/Assembly-CSharp.dll
BDArmory/LocalDev/Refs/Assembly-CSharp-firstpass.dll
BDArmory/LocalDev/Refs/UnityEngine.dll
/BDArmory/UpgradeLog3.htm
/BDArmory/UpgradeLog2.htm
/BDArmory/UpgradeLog.htm
/BDArmory/bin/Release
/BDArmory.Core/bin
/BDArmory.Guidance/bin/Release
/BDArmory.Guidance/obj/Release
/BDArmory/BDArmory.sln.DotSettings.user
/BDArmory.Events/obj/Debug
/BDArmory/LocalDev/Refs
/BDArmory.Events/obj/Release
/Binaries
/BDArmory/Distribution/GameData/BDArmory/Plugins
/BDArmory/_ReSharper.Caches/ReSharperPlatformVs15182_74c703de.BDArmory.00
/packages/Microsoft.Net.Compilers.2.8.0
/_ReSharper.Caches/ReSharperPlatformVs15182_74c703de.BDArmory.00
/BDArmory/_ReSharper.Caches/ReSharperPlatformVs15183_74c703de.BDArmory.00
/BDArmory/_ReSharper.Caches/ReSharperPlatformVs16191_4011600b.BDArmory.00
/BDArmory/_ReSharper.Caches/ReSharperPlatformVs16191_4011600b.BDArmory.01
/_ReSharper.Caches/ReSharperPlatformVs16191_4011600b.00
