#######################################
BDArmory Ignore
#######################################
BahaTurret/BDArmory.csproj
BahaTurret/BDArmory.csproj.user

BahaTurret/Distribution/GameData/BDArmory/Plugins/BahaTurret.dll
BahaTurret/.vs
BahaTurret/obj
BahaTurret/bin/Debug/

BahaTurret/.vs/config
BahaTurret/LocalDev/7za_dir.txt
BahaTurret/LocalDev/dist_dir.txt
BahaTurret/LocalDev/ksp_dir.txt
BahaTurret/LocalDev/ksp_production_dir.txt
BahaTurret/LocalDev/mono_exe.txt
BahaTurret/LocalDev/pdb2mdb_exe.txt
BahaTurret/BahaTurret.userprefs

#######################################
Unity Ignore
#######################################

TrackIRUnity.dll
Assembly-*
Mono*
TDx*
UnityEngine.dll
*.pdb
*.jar
*.bat
*.zip
KSPAssets.dll
KSPCore.dll
KSPUtil.dll
SaveUpgradePipeline.Core.dll
UnityEngine.UI.dll
UnityEngine.xml
Vectrosity.dll

#######################################
#######################################
System*
mscorlib.dll

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
/.vs
/.vs
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/BDArmory_JRODRIGV/v15/Browse.VC.db
/.vs/BDArmory_JRODRIGV/v15
/.vs/slnx.sqlite
/BahaTurret/bin/Release
